$blue: #2f80ed;
$light: #fff;
$dark: #494F66;
$grey: #C5CBE0;

$font-family-main: 'Roboto', sans-serif;
$font-family-secondary: 'Lato', sans-serif;

$text-color-dark: $dark;
$text-color-blue: $blue;

