$blue: #2f80ed;
$light: #fff;
$dark: #494F66;
$grey: #C5CBE0;
$grey-1: #A3ABCC;

$green: #83CC5E;

$red: #e74c3c;

$font-family-main: 'Roboto', sans-serif;
$font-family-secondary: 'Lato', sans-serif;

$text-color-dark: $dark;
$text-color-blue: $blue;
$text-color-grey: $grey;
$text-color-grey-1: $grey-1;
$text-color-red: $red;

