.text{
  // Colors
  &--blue{
    color: $text-color-blue;
  }

  // Weights
  &--light{
    font-weight: 300;
  }
  &--regular{
    font-weight: 400;
  }

  // Sizes
  &--h{
    &2{
      font-family: $font-family-secondary;
      font-size: 2.5rem;
      letter-spacing: -0.01em;
      line-height: 1.2em;
    }
  }
}